astroid==2.4.1
beautifulsoup4==4.9.0
bokeh==2.0.2
cycler==0.10.0
isort==4.3.21
joblib==0.15.1
jupyter==1.0.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
llvmlite==0.32.1
matplotlib==3.2.1
mccabe==0.6.1
numba==0.49.1
numpy==1.18.4
pandas==1.0.3
Pillow==7.1.2
pkg-resources==0.0.0
pylint==2.5.2
pytz==2020.1
PyYAML==5.3.1
scikit-learn==0.23.1
scipy==1.4.1
selenium==3.141.0
soupsieve==2.0
tbb==2020.0.133
threadpoolctl==2.0.0
toml==0.10.0
tqdm==4.46.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
umap-learn==0.4.3
urllib3==1.25.9
wrapt==1.12.1
